body, html {
  margin: 0;
  padding: 0%;
  background-color: #F5F5F7;
}

.logo {
  width: 100px;
}

.header-img {
  background-image: url("header-background.jpg");
  width: auto;
  height: 300px;
  margin-top: -50px;
  filter: brightness(0.25) opacity(0.90);
}

.header-title {
  color: aliceblue;
  position: relative;
  margin-top: -180px;
  text-align: center;
}

.header-p {
  color: aliceblue;
  position: relative;
  text-align: center;
}

.section {
  margin-top: 180px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  color: #34e370;
}

.card{
  width: 16rem;
  margin-bottom: 2rem;
  margin-top: 2rem; 
}

.btn {
  background-color: #34e370;
  border-color: #34e370;
  color: #222222;
}

.btn:hover {
  background-color: #00BF21;
  border-color: #00BF21;
  color: #222222;
}

.btn-category {
  margin-right: 1rem;
  width: 6rem;
}

.footer {
  background-color: #222222;
  padding: 2rem 6rem;
}

.text-footer {
  color: #F5F5F7;
}

hr {
  color: #F5F5F7
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

.img-test{
  width: 15rem;
}

.texto-price {
  display: block;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaçamento entre os cards */
}



